{% extends 'base.html' %}

{% block title %}

    Lista de Reservas - {{ block.super }}

{% endblock title %}

{% block body %}

<header style="background-color: #331a00; color: #fff; text-align: center; padding: 1rem;">
    <p>Lista de Reservas</p>
</header>

    <div class="container">
        <br />
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a style="color: #331a00; display: flex; align-items: center; justify-content: center;" href="{% url 'reserva:add_reserva' %}">Cadastro Reserva</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col" style="color: #331a00;">Quarto</th>
                    <th scope="col" style="color: #331a00;">Cliente</th>
                    <th scope="col" style="color: #331a00;">Data de Check-in</th>
                    <th scope="col" style="color: #331a00;">Data de Check-out</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in Reserva %}
                        <tr>
                            <td>{{ reserva.quarto }}</td>
                            <td>{{ reserva.cliente.primeiro_nome }}</td>
                            <td>{{ reserva.data_checkin }}</td>
                            <td>{{ reserva.data_checkout }}</td>
                            <td>
                                <a href="{% url 'reserva:edit_reserva' reserva.id %}" class="btn btn-outline-info">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'reserva:delete_reserva' reserva.id %}" class="btn btn-outline-danger">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}