db.sqlite3
hotelapp/__pycache__/*
/apps/categoriaquarto/__pycache__/*
/apps/categoriaquarto/migrations/*
/apps/quarto/__pycache__/*
/apps/quarto/migrations/*
/apps/servicoadicional/__pycache__/*
/apps/servicoadicional/migrations/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*
/apps/reserva/__pycache__/*
/apps/reserva/migrations/*
/apps/core/__pycache__/*
/apps/core/migrations/*