{% extends 'base.html' %}

{% block title %}

    Lista de Clientes - {{ block.super }}

{% endblock title %}

{% block body %}

<header style="background-color: #331a00; color: #fff; text-align: center; padding: 1rem;">
    <p>Lista de Clientes</p>
</header>

    <div class="container">
        <br />
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a style="color: #331a00; display: flex; align-items: center; justify-content: center;" href="{% url 'cliente:add_cliente' %}">Cadastro de novo cliente</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col" style="color: #331a00;">Primeiro nome</th>
                    <th scope="col" style="color: #331a00;">Último nome</th>
                    <th scope="col" style="color: #331a00;">Endereço</th>
                    <th scope="col" style="color: #331a00;">Número de telefone</th>
                    <th scope="col" style="color: #331a00;">E-mail</th>
                    <th scope="col" style="color: #331a00;">Gênero</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in Cliente %}
                        <tr>
                            <td>{{ cliente.primeiro_nome }}</td>
                            <td>{{ cliente.ultimo_nome }}</td>
                            <td>{{ cliente.endereço }}</td>
                            <td>{{ cliente.numero_telefone }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.genero }}</td>
                            <td>
                                <a href="{% url 'cliente:edit_cliente' cliente.id %}" class="btn btn-outline-info">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'cliente:delete_cliente' cliente.id %}" class="btn btn-outline-danger">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}