{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}

    Adicionar Quarto - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Cadastro de Quarto</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.numero.id_for_label }}">Numero</label>
                   {{ form.numero|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.categoriaquarto.id_for_label }}">Categoria de quarto</label>
                    {{ form.categoriaquarto|add_class:"form-control" }}
                 </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}