{% extends 'base.html' %}

{% block title %}

    Lista de Quartos - {{ block.super }}

{% endblock title %}

{% block body %}

<header style="background-color: #331a00; color: #fff; text-align: center; padding: 1rem;">
    <p>Lista de Quartos</p>
</header>

    <div class="container">
        <br />
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a style="color: #331a00; display: flex; align-items: center; justify-content: center;" href="{% url 'quarto:add_quarto' %}">Cadastro de novo quarto</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col" style="color: #331a00;">Numero</th>
                    <th scope="col" style="color: #331a00;">Categoria</th>
                    <th scope="col" style="color: #331a00;"></th>
                    <th scope="col" style="color: #331a00;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for quarto in Quarto %}
                        <tr>
                            <td>{{ quarto.numero }}</td>
                            <td>{{ quarto.categoriaquarto }}</td>
                            <td>
                                <a href="{% url 'quarto:edit_quarto' quarto.id %}" class="btn btn-outline-info">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'quarto:delete_quarto' quarto.id %}" class="btn btn-outline-danger">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}