{% extends 'base.html' %}

{% block title %}

    Lista de Categorias de quarto {{ block.super }}

{% endblock title %}

{% block body %}

<header style="background-color: #331a00; color: #fff; text-align: center; padding: 1rem;">
    <p>Lista de Categorias de quarto</p>
</header>

    <div class="container">
        <br />
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a style="color: #331a00; display: flex; align-items: center; justify-content: center;" href="{% url 'categoriaquarto:add_categoriaquarto' %}">Cadastro de nova categoria de quarto</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col" style="color: #331a00;">Nome</th>
                    <th scope="col" style="color: #331a00; text-align: center;">Descrição</th>
                    <th scope="col" style="color: #331a00;">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoriaquarto in Categoriaquarto %}
                        <tr>
                            <td>{{ categoriaquarto.nome }}</td>
                            <td>{{ categoriaquarto.descricao }}</td>
                            <td>R${{ categoriaquarto.preco }}</td>
                            <td>
                                <a href="{% url 'categoriaquarto:edit_categoriaquarto' categoriaquarto.id %}" class="btn btn-outline-info">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'categoriaquarto:delete_categoriaquarto' categoriaquarto.id %}" class="btn btn-outline-danger">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}