{% extends 'base.html' %}

{% block title %}

    Lista de Categorias de quarto {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Categorias de quarto</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'categoriaquarto:add_categoriaquarto' %}">Cadastro de nova categoria de quarto</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Preço</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoriaquarto in Categoriaquarto %}
                        <tr>
                            <th scope="row">{{ categoriaquarto.id }}</th>
                            <td>{{ categoriaquarto.nome }}</td>
                            <td>{{ categoriaquarto.descricao }}</td>
                            <td>R${{ categoriaquarto.preco }}</td>
                            <td>
                                <a href="{% url 'categoriaquarto:edit_categoriaquarto' categoriaquarto.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'categoriaquarto:delete_categoriaquarto' categoriaquarto.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}